.card-2 {
    box-shadow: 0 5px 70px  rgb(107, 184, 229); opacity: 17; background-color: rgb(187, 239, 207);  border-radius: 60px 0px; animation: aparecer 1s forwards; transition: transform 0.4s;transition: transform 0.3s ease; width: 600px; padding: 40px; margin: auto; border: 2px solid rgb(0, 0, 0);
}

.card-2:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tama単o */
}
@keyframes aparecer {
    to {
    opacity: 1;
}
}

body {
    padding: 80px; background-color: antiquewhite; text-align: center; font-family: sans-serif; overflow: hidden;
}
@media screen and (min-width: 600px) { 
    body {
    display: flex;         /* Alinea las tarjetas horizontalmente */
    gap: 100px;             /* Espacio entre las tarjetas */
    flex-wrap: grow;       /* Permite que se ajusten y bajen si no caben */
}

}
@media screen and (min-width: 600px) { 
    .profile-card {
    display: flex;         /* Alinea las tarjetas horizontalmente */
    gap: 50px;             /* Espacio entre las tarjetas */
    flex-wrap: grow;       /* Permite que se ajusten y bajen si no caben */
}

}
.profile-card {
    border: 4px solid rgb(0, 0, 0); 
    border-radius: 50px 0px  ; width: 500px; padding: 40px; margin: auto;
    

}
.card {
    padding: auto; background-color: rgb(150, 239, 201); font-size: 15px; border-radius: 40px; box-shadow: 0 20px 50px rgb(107, 184, 229);  opacity: 20; animation: aparecer 1s forwards; transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tama単o */
}
@keyframes aparecer {
    to {
    opacity: 1;
}
}
.card:hover {
    transform: translateY(-20px);
}
h1 {
    font-size: 28px; font-weight: 5;
}
p {
    padding: 16px; text-align: justify;
}
li {
    text-align: justify;
}

img{
    border-radius:40px; width: 150px; box-shadow: 0 20px 50px rgb(107, 184, 229);  opacity: 20; animation: aparecer 1s forwards; transition: transform 0.4s;
}

.img{
    padding: auto;
    transition: transform 0.3s ease;
}

.img:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tama単o */
}
@keyframes aparecer {
    to {
    opacity: 1;
}
}
img:hover {
    transform: translateY(-20px);
}
.card-3 {
    box-shadow: 0 5px 90px  rgb(107, 184, 229); opacity: 15;   border-radius: 50px 0px; animation: aparecer 1s forwards; transition: transform 0.4s;transition: transform 0.3s ease; width: 350px; padding: 20px; margin: auto; background-color: rgb(187, 239, 207); text-align: center;  border: 2px solid rgb(0, 0, 0);
}
.card-3:hover {
  transform: scale(1.05); /* Aumenta ligeramente el tama単o */
}
@keyframes aparecer {
    to {
    opacity: 1;
}
}
.card-3:hover {
    transform: translateY(-20px);
}
input{
    width: 300px;
    padding: 10px;
    margin: 8px;
    border: 1px solid rgb(126, 123, 123);
    border-radius: 5px;
}
